body {
    font-family: Arial, sans-serif;
    background-color: #222227;
    color: #fff;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #222227;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
}

.header h1 {
    margin: 0;
    font-size: 32px;
    font-weight: bold;
    color: #007bff;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    color: #000; /* Adjust text color for better readability */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.container h2 {
    color: #28a745;
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.form-section {
    margin-bottom: 30px;
}

.form-section h3 {
    font-size: 20px;
    color: #007bff;
    margin-bottom: 10px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-size: 18px;
    color: #333;
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="tel"],
.form-group input[type="email"],
.form-group input[type="number"],
.form-group select,
.form-group textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group textarea {
    resize: vertical;
}

.form-group button{
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.form-group select {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.form-group button:hover{
    background-color: #0056b3;
}
.form-group select:hover {
    background-color: #9f5959;
}

.form-group button[type="button"] {
    background-color: #0056b3;
}

.form-group button[type="button"]:hover {
    background-color: #28a745;
}

.form-group input[readonly] {
    background-color: #eee;
    cursor: not-allowed;
}

ul.tablet-list {
    list-style: none;
    padding: 0;
    max-height: 150px;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: #000;
}

.tablet-item {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tablet-item:hover {
    background-color: #ddd;
}

/* Style for selected tablets */
#selectedTablets {
    list-style: none;
    padding: 0;
}

#selectedTablets .tablet-item {
    background-color: #333;
    color: #fff;
}

